#app_container {
  width: 800px;
  margin: 0 auto;
  background: lightgray;
}

#header_container {
  background: yellow;
}

#dashboard_container {
  background: darkorange;
}

#house_container {
  background: orange;
}

#wizard_container {
  background: green;
}