main {
  box-sizing: border-box;
  padding: 15px;
}

#app_container {
  width: 800px;
  margin: 0 auto;
  background: lightgray;
}

#header_container {
  background: yellow;
}

#dashboard_container {
  background: darkorange;
}

#dashboard_container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.house_container {
  width: 500px;
  margin: 0 auto;
  background: orange;
}

.house_container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.house_container span {
  font-weight: 400;
}

#wizard_container {
  background: green;
}

#change_info {
  display: flex;
  justify-content: space-around;
}